
.p-onset-12 {
    margin-right: 100%;
  }
  
  .p-onset-11 {
    margin-right: 91.66666667%;
  }
  
  .p-onset-10 {
    margin-right: 83.33333333%;
  }
  
  .p-onset-9 {
    margin-right: 75%;
  }
  
  .p-onset-8 {
    margin-right: 66.66666667%;
  }
  
  .p-onset-7 {
    margin-right: 58.33333333%;
  }
  
  .p-onset-6 {
    margin-right: 50%;
  }
  
  .p-onset-5 {
    margin-right: 41.66666667%;
  }
  
  .p-onset-4 {
    margin-right: 33.33333333%;
  }
  
  .p-onset-3 {
    margin-right: 25%;
  }
  
  .p-onset-2 {
    margin-right: 16.66666667%;
  }
  
  .p-onset-1 {
    margin-right: 8.33333333%;
  }
  
  .p-onset-0 {
    margin-right: 0%;
  }